<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459504726937-vm5838e7gusa4ljt0vn5k1s5djpr0o1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459504726937-vm5838e7gusa4ljt0vn5k1s5djpr0o1b</string>
	<key>API_KEY</key>
	<string>AIzaSyC_IBGzZ87jGYtSvUJHmbRLKdFg-l94p68</string>
	<key>GCM_SENDER_ID</key>
	<string>459504726937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zqth.gradis</string>
	<key>PROJECT_ID</key>
	<string>gradis-1fe64</string>
	<key>STORAGE_BUCKET</key>
	<string>gradis-1fe64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459504726937:ios:bd48fdad66b77f80ea1908</string>
</dict>
</plist>